<ion-header>
  <ion-toolbar
    color="primary">
    <ion-title>CHAT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- showLoading -->
  <ion-spinner
    class="spn-loading"
    *ngIf="showLoading">
  </ion-spinner>
  <div
    class="dv-no-list-item flex-c-row"
    *ngIf="!showLoading && messages.length == 0">
    <span>No chat with users yet</span>
  </div>

  <ion-virtual-scroll
    [items]="messages"
    [itemHeight]="itemHeightFn">
    <ion-item
      button
      detail="false"
      *virtualItem="let item"
      (click)="onItemClick(item)">
      <div class="flex-row full-width">
        <!-- user photo -->
        <ion-thumbnail>
          <ion-img
            [src]="item.toUser?.photoUrl ? item.toUser?.photoUrl : '../../../assets/imgs/default_user.png'">
          </ion-img>
        </ion-thumbnail>

        <div class="dv-content">
          <!-- message -->
          <span>{{item.message}}</span>
        </div>
      </div>
    </ion-item>
  </ion-virtual-scroll>

</ion-content>
