<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>SIGN UP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="container">
    <!-- input -->
    <div class="flex-column half-full">
      <!-- password -->
      <div class="flex-column input-wrapper">
        <ion-input
          placeholder="Enter your password"
          type="password"
        ></ion-input>

        <!-- checkboxes -->
        <div class="flex-column">
          <app-check-box
            text="At least 6 characters long"
            [enabled]="false">
          </app-check-box>
          <app-check-box
            text="Contains a letter"
            [enabled]="false">
          </app-check-box>
          <app-check-box
            text="Contains a number"
            [enabled]="false">
          </app-check-box>
        </div>
      </div>

      <!-- reenter password -->
      <div class="flex-column input-wrapper">
        <ion-input
          placeholder="Re enter password"
          type="password"
        ></ion-input>

        <!-- checkboxes -->
        <div class="flex-column">
          <app-check-box
            text="Matches new password"
            [enabled]="false">
          </app-check-box>
        </div>
      </div>
    </div>

    <!-- buttons -->
    <div class="half-full">
      <ion-button
        expand="full"
        (click)="onButDone($event)"
      >Done</ion-button>
    </div>

  </div>

</ion-content>
