<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>MATCHED PROPERTIES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- client info -->
  <div
    class="flex-row dv-header nm-center-items">
    <div class="flex-column">
      <ion-label
        class="lb-name"
      >{{buyer.name}}</ion-label>
      <ion-label>{{buyer.address}}</ion-label>
    </div>
  </div>

  <div class="flex-column">
    <!-- count -->
    <span
      class="sp-title nm-center"
    >{{buyer.matchedProperties?.length}} Matched Properties</span>

    <!-- property item -->
    <ion-card
      class="ca-buyer"
      *ngFor="let data of buyer.matchedProperties; let i = index">
      <ion-item
        class="no-padding"
        button
        lines="none"
        detail="false"
        [routerLink]="['/profile', data.agentId]">
        <ion-card-content class="full-width">
          <div class="flex-column">
            <!-- index -->
            <div class="flex-row dv-index">
              <img src="../../../../assets/imgs/ic_match_gray.png">
              <span>Match {{i+1}}</span>
            </div>

            <div
              class="flex-row dv-content">
              <!-- image -->
              <div
                class="dv-image"
                (click)="onProperty(data, $event)">
                <ion-thumbnail>
                  <ion-img [src]="data.imageUrls[0]"></ion-img>
                </ion-thumbnail>
              </div>

              <div class="flex-column dv-info">
                <!-- username -->
                <span
                  class="sp-name"
                >{{data.title}}</span>

                <!-- address -->
                <span
                  class="sp-address"
                  (click)="goToLocation(data, $event)"
                  *ngIf="data.showAddress"
                >{{data.address}}</span>

                <!-- distance -->
                <span
                  class="sp-distance"
                  *ngIf="data.distanceToMile() > 0"
                >{{data.distanceToMile()}} miles away</span>
              </div>
            </div>

            <!-- delete button -->
            <ion-button
              class="bt-delete"
              fill="clear"
              hidden
              (click)="onButDelete($event)">
              <ion-img
                slot="icon-only"
                src="../../../assets/imgs/but_delete_match.png">
              </ion-img>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-item>
    </ion-card>

  </div>

</ion-content>
