<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>{{userTo?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="dv-no-list-item flex-c-row"
    *ngIf="messages.length == 0">
    <span>No messages with this user yet</span>
  </div>

  <virtual-scroller
    #scroll
    [items]="messages">
    <ion-item
      *ngFor="let item of scroll.viewPortItems">

      <div
        class="flex-row full-width"
        *ngIf="isMessageMine(item); else other">
        <div class="dv-content flex-column">
          <!-- user name -->
          <span
            class="sp-name"
          >{{auth.user?.name}}</span>
          <!-- message -->
          <span
            class="sp-msg"
          >{{item.message}}</span>
        </div>

        <!-- user photo -->
        <ion-avatar class="av-right">
          <ion-img
            [src]="auth.user?.photoUrl ? auth.user?.photoUrl : '../../../assets/imgs/default_user.png'">
          </ion-img>
        </ion-avatar>
      </div>

      <ng-template #other>
        <!-- user photo -->
        <ion-avatar class="av-left">
          <ion-img
            [src]="userTo?.photoUrl ? userTo?.photoUrl : '../../../assets/imgs/default_user.png'">
          </ion-img>
        </ion-avatar>

        <div class="dv-content flex-column">
          <!-- user name -->
          <span
            class="sp-name"
          >{{userTo?.name}}</span>
          <!-- message -->
          <span
            class="sp-msg"
          >{{item.message}}</span>
        </div>

      </ng-template>

    </ion-item>
  </virtual-scroller>


</ion-content>

<ion-footer
  [style.margin-bottom] = "getMarginBottom()">
  <div class="flex-c-row">
    <!-- input -->
    <div class="dv-input">
      <ion-input
        placeholder="Type Here..."
        autocorrect="true"
        autocapitalize="true"
        [(ngModel)]="message"
      ></ion-input>
    </div>

    <!-- send button -->
    <ion-button
      fill="clear"
      size="small"
      (click)="onButSend()"
    >Send</ion-button>
  </div>
</ion-footer>
