<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>PROFILE EXPIRY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <div class="dv-notice flex-row nm-center-items">
      <!-- border frame -->
      <div class="dv-frame">
      </div>

      <div class="dv-content flex-column">
        <span
          class="sp-title"
        >Dear John</span>
        <span
          class="sp-notice"
        >Your
          <ion-label
            color="success"
          >buyer</ion-label> profile
          <ion-label
            color="secondary"
          >“Andrew Smith”</ion-label> will expire in 1 Week.</span>
        <span
          class="sp-footer"
        >-R.E.connect</span>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <!-- next button -->
  <ion-button
    class="m-0 with-shadow"
    expand="block"
    square
  >Renew</ion-button>
</ion-footer>
