.container {
  position: relative;
}

.dv-wrapper {
  position: absolute;
  z-index: 1;
  pointer-events: none;

  ion-icon {
    color: red;
    font-size: 34px;

    position: absolute;
    bottom: 50%;
    left: calc(50% - 17px);
  }

  .dv-address {
    padding: 8px;
    background: #ffffffa0;
  }
}

#map_canvas {
  flex: 1;
}
