<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>LOCATION</ion-title>

    <ion-buttons
      slot="end"
      *ngIf="!readOnly">
      <ion-button
        color="light"
        (click)="onButDone()"
        [disabled]="!address"
      >DONE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- map -->
    <div
      id="map_canvas"
    ></div>
  </div>
</ion-content>
