@import '../profile-buyer/profile-buyer.page';

.dv-user {
  .dv-info {
    padding: 24px;

    .dv-name {
      margin-top: 20px;
      margin-bottom: 14px;

      ion-icon {
        margin-left: 8px;
      }
    }
  }

  .sp-name {
    margin: 0 !important;
  }
}