<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>{{client ? 'EDIT' : 'ADD'}} PROFILE</ion-title>

    <ion-buttons slot="end">
      <ion-button
        color="light"
        (click)="onButDone()"
      >DONE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div
    class="flex-column"
    [style.margin-bottom] = "kbService.keyboardHeight + 'px'">
    <!-- photo area -->
    <div
      class="dv-photo-wrapper flex-c-row">
      <!-- background blur -->
      <div class="dv-bg">
      </div>

      <app-image-uploader
        [imgUrl]="getPhotoUrl()"
        #imagePhoto>
        <div class="container flex-c-row nm-center">
          <ion-icon
            class="nm-center"
            name="camera"></ion-icon>
        </div>
      </app-image-uploader>

    </div>

    <!-- segment -->
    <div class="dv-segment-wrapper">
      <div class="flex-row dv-segment">
        <ion-button
          [fill]="currentPage == PAGE_BUYER ? 'solid' : 'outline'"
          square
          no-border
          color="secondary"
          (click)="onPageChanged(PAGE_BUYER)">
          Buyer
        </ion-button>
        <ion-button
          [fill]="currentPage == PAGE_SELLER ? 'solid' : 'outline'"
          square
          no-border
          color="secondary"
          (click)="onPageChanged(PAGE_SELLER)">
          Seller
        </ion-button>
      </div>
    </div>

    <form
      padding
      (ngSubmit)="onSubmit()"
      #mainForm="ngForm">

      <!-- notice -->
      <div
        text-center
        class="sp-notice mb-6"
        *ngIf="currentPage == PAGE_BUYER"
      >Buyers contact information will not be shared with other agents
      </div>
      <div
        text-center
        class="sp-notice mb-6"
        *ngIf="currentPage == PAGE_SELLER"
      >Sellers contact information will not be shared with other agents
      </div>

      <!-- name -->
      <div class="dv-profile-input flex-c-row mb-6">
        <!-- icon -->
        <ion-icon name="person"></ion-icon>
        <ion-input
          name="name"
          placeholder="Enter Name"
          [(ngModel)]="name"
        ></ion-input>
      </div>

      <!-- email -->
      <div class="dv-profile-input flex-c-row mb-6">
        <!-- icon -->
        <ion-icon name="mail"></ion-icon>
        <ion-input
          name="email"
          placeholder="Enter Email Address"
          type="email"
          [(ngModel)]="email"
        ></ion-input>
      </div>

      <!-- phone -->
      <div class="dv-profile-input flex-c-row mb-14">
        <!-- icon -->
        <ion-icon name="call"></ion-icon>
        <ion-input
          name="phone"
          placeholder="Enter Phone Number"
          type="tel"
          [(ngModel)]="phone"
        ></ion-input>
      </div>

      <!-- separator -->
      <div class="dv-separator mb-14"></div>

      <!-- buyer content -->
      <ng-container *ngIf="currentPage == PAGE_BUYER">

        <!-- budget -->
        <div class="flex-row dv-budget">
          <div class="dv-profile-input flex-c-row">
            <!-- icon -->
            <ion-icon name="cash"></ion-icon>
            <ion-input
              name="priceMin"
              placeholder="Minimum Price"
              type="number"
              [(ngModel)]="priceMin"
            ></ion-input>
          </div>
          <div class="dv-profile-input flex-c-row">
            <!-- icon -->
            <ion-icon name="cash"></ion-icon>
            <ion-input
              name="priceMax"
              placeholder="Maximum Price"
              type="number"
              [(ngModel)]="priceMax"
            ></ion-input>
          </div>
        </div>

        <!-- location -->
        <div class="flex-row mt-14">
          <div class="dv-input-with-title flex-fill">
            <!-- title -->
            <ion-label>Desired Location</ion-label>

            <div class="dv-profile-input dv-profile-input-text flex-row">
              <!-- icon -->
              <ion-icon name="pin"></ion-icon>
              <ion-input
                name="location"
                placeholder="Desired Location"
                readonly
                (ionFocus)="onFocusLocation()"
                [value]="propService.address"
              ></ion-input>
            </div>
          </div>

          <!-- radius -->
          <div class="dv-input-with-title dv-radius">
            <!-- title -->
            <ion-label>Radius</ion-label>

            <div class="dv-profile-input flex-row">
              <ion-input
                text-right
                name="radius"
                type="number"
                [(ngModel)]="radius"
              ></ion-input>
              km
            </div>
          </div>
        </div>

        <!-- house size -->
        <div class="dv-input-with-title mt-6">
          <ion-label>House Size</ion-label>

          <div class="flex-row dv-budget">
            <div class="dv-profile-input flex-c-row">
              <!-- icon -->
              <ion-icon name="calculator"></ion-icon>
              <ion-input
                name="sizeMin"
                placeholder="Minimum Size"
                type="number"
                [(ngModel)]="sizeMin"
              ></ion-input>
            </div>
            <div class="dv-profile-input flex-c-row">
              <!-- icon -->
              <ion-icon name="calculator"></ion-icon>
              <ion-input
                name="sizeMax"
                placeholder="Maximum Size"
                type="number"
                [(ngModel)]="sizeMax"
              ></ion-input>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- seller content -->
      <ng-container *ngIf="currentPage == PAGE_SELLER">
        <!-- price -->
        <div class="dv-profile-input flex-c-row">
          <!-- icon -->
          <ion-icon name="cash"></ion-icon>
          <ion-input
            name="price"
            placeholder="Price"
            type="number"
            [(ngModel)]="price"
          ></ion-input>
        </div>

        <!-- location -->
        <div class="dv-input-with-title mt-14">
          <!-- title -->
          <ion-label>Location</ion-label>

          <div class="dv-profile-input dv-profile-input-text flex-row">
            <!-- icon -->
            <ion-icon name="pin"></ion-icon>
            <ion-input
              name="location"
              [value]="propService.getLocationFormatted()"
              placeholder="Location"
              readonly
              (ionFocus)="onFocusLocation()"
            ></ion-input>
          </div>

          <!-- address -->
          <div class="dv-profile-input flex-c-row mt-14">
            <ion-input
              name="address"
              [value]="propService.address"
              placeholder="Enter Address"
            ></ion-input>
          </div>
        </div>

        <!-- checkbox -->
        <ion-item
          lines="none"
          class="it-checkbox">
          <ion-label>Make address visible in app</ion-label>
          <ion-checkbox
            slot="start"
            mode="md"
            name="addressVisible"
            (ionChange)="onAddressChecked($event)"
            [(ngModel)]="isAddressVisible"
          ></ion-checkbox>
        </ion-item>

        <!-- separator -->
        <div class="dv-separator mb-14"></div>

        <!-- property description -->
        <div class="dv-input-with-title">
          <!-- title -->
          <ion-label>Property Heading</ion-label>

          <div class="dv-profile-input flex-row">
            <ion-input
              name="title"
              placeholder="Enter Property Heading"
              [(ngModel)]="title"
            ></ion-input>
          </div>
        </div>

        <!-- size -->
        <div class="dv-profile-input dv-profile-input-text flex-row mt-6">
          <!-- icon -->
          <ion-icon name="calculator"></ion-icon>
          <ion-input
            name="size"
            placeholder="Enter House Size"
            type="number"
            [(ngModel)]="sizeMin"
          ></ion-input>
        </div>
      </ng-container>

      <!-- style -->
      <div class="dv-profile-input dv-profile-input-text flex-row mt-14">
        <!-- icon -->
        <ion-icon name="ios-home"></ion-icon>
        <ion-input
          placeholder="Style"
          readonly
          (ionFocus)="onFocusStyle()"
          [value]="getStyles()"
        ></ion-input>
      </div>

      <!-- type -->
      <div class="dv-profile-input dv-profile-input-text flex-row mt-6">
        <!-- icon -->
        <ion-icon name="business"></ion-icon>
        <ion-input
          placeholder="Type"
          readonly
          (ionFocus)="onFocusType()"
          [value]="getTypes()"
        ></ion-input>
      </div>

      <!-- bedrooms -->
      <div class="dv-profile-input dv-profile-input-text flex-row mt-6">
        <!-- icon -->
        <ion-icon name="bed"></ion-icon>
        <ion-input
          name="bedroom"
          placeholder="Bedrooms"
          type="number"
          [(ngModel)]="bedroom"
        ></ion-input>
      </div>

      <!-- bathrooms -->
      <div class="dv-profile-input dv-profile-input-text flex-row mt-6">
        <!-- icon -->
        <ion-icon name="ios-water"></ion-icon>
        <ion-input
          name="bathroom"
          placeholder="Bathrooms"
          type="number"
          [(ngModel)]="bathroom"
        ></ion-input>
      </div>

      <!-- garage -->
      <div class="dv-profile-input dv-profile-input-text flex-row mt-6">
        <!-- icon -->
        <ion-icon name="car"></ion-icon>
        <ion-input
          placeholder="Garage"
          readonly
          (ionFocus)="onFocusGarage()"
          [value]="getGarages()"
        ></ion-input>
      </div>

      <!-- basement -->
      <div class="dv-profile-input dv-profile-input-text flex-row mt-6">
        <!-- icon -->
        <ion-icon name="construct"></ion-icon>
        <ion-input
          readonly
          (ionFocus)="onFocusBasement()"
          placeholder="Basement"
          [value]="getBasements()"
        ></ion-input>
      </div>

      <!-- lot size -->
      <div class="dv-input-with-title mt-14">
        <!-- title -->
        <ion-label>Lot Size</ion-label>

        <!-- frontage -->
        <div class="dv-profile-input dv-profile-input-text flex-row">
          <!-- icon -->
          <ion-icon name="calculator"></ion-icon>
          <ion-input
            name="frontage"
            placeholder="Lot Frontage"
            type="number"
            [(ngModel)]="frontage"
          ></ion-input>
        </div>
        <!-- depth -->
        <div class="dv-profile-input dv-profile-input-text flex-row mt-6">
          <!-- icon -->
          <ion-icon name="calculator"></ion-icon>
          <ion-input
            name="depth"
            placeholder="Lot Depth"
            type="number"
            [(ngModel)]="depth"
          ></ion-input>
        </div>
      </div>

      <!-- status -->
      <div class="dv-profile-input dv-profile-input-text flex-row mt-14">
        <!-- icon -->
        <ion-icon name="construct"></ion-icon>
        <ion-input
          placeholder="Construction Status"
          readonly
          (ionFocus)="onFocusStatus()"
          [value]="getConstStatus()"
        ></ion-input>
      </div>


      <!-- buyer content -->
      <ng-container *ngIf="currentPage == PAGE_BUYER">
        <!-- property description -->
        <div class="dv-input-with-title mt-14">
          <!-- title -->
          <ion-label>Buyers wants and needs</ion-label>

          <div class="dv-profile-input dv-profile-input-text flex-row">
            <!-- icon -->
            <ion-icon name="create"></ion-icon>
            <ion-textarea
              name="desc"
              placeholder="Enter Description (max 200 characters)"
              rows="5"
              [(ngModel)]="description"
            ></ion-textarea>
          </div>
        </div>
      </ng-container>

      <!-- seller content -->
      <ng-container *ngIf="currentPage == PAGE_SELLER">
        <!-- commission payout -->
        <div class="dv-input-with-title mt-14">
          <!-- title -->
          <ion-label>Commission Payout</ion-label>

          <div class="dv-profile-input dv-profile-input-text flex-c-row">
            <!-- icon -->
            <ion-icon
              class="mt-0"
              name="cash"></ion-icon>
            <ion-input
              name="commission"
              placeholder="Enter Commission Payout (%)"
              type="number"
              min="0"
              max="100"
              [(ngModel)]="commission"
            ></ion-input>
            <span class="sp-suffix">%</span>
          </div>
        </div>

        <!-- property description -->
        <div class="dv-input-with-title mt-14">
          <!-- title -->
          <ion-label>Description</ion-label>

          <div class="dv-profile-input dv-profile-input-text flex-row">
            <!-- icon -->
            <ion-icon name="create"></ion-icon>
            <ion-textarea
              name="desc"
              placeholder="Enter Description (max 200 characters)"
              rows="5"
              [(ngModel)]="descProp"
            ></ion-textarea>
          </div>
        </div>
      </ng-container>
    </form>
  </div>

</ion-content>
