<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>PROFILE EXPIRY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="dv-notice flex-row nm-center-items">
    <!-- border frame -->
    <div class="dv-frame">
    </div>

    <div class="dv-content flex-column">
      <span
        class="sp-title"
      >Dear {{auth.user?.name}}</span>
      <span
        class="sp-notice"
      >“Buyer and Seller listings are active for 90 days. After 90 days, the listing will be inactivated unless extended by the agent.”</span>
      <span
        class="sp-footer"
      >-R.E.connect</span>
    </div>
  </div>

</ion-content>

<ion-footer>
  <!-- next button -->
  <ion-button
    class="m-0 with-shadow"
    expand="block"
    square
    (click)="onButAdd();"
  >Add Profile</ion-button>
</ion-footer>
