<ion-header>
  <ion-toolbar
    color="primary">
    <ion-title>NOTIFICATIONS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- pull to refresh -->
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- showLoading -->
  <ion-spinner
    class="spn-loading"
    *ngIf="showLoading">
  </ion-spinner>
  <div
    class="dv-no-list-item flex-c-row"
    *ngIf="!showLoading && notifications.length == 0">
    <span>No notifications yet</span>
  </div>

  <ion-card
    class="ca-buyer"
    *ngFor="let nt of notifications">
    <ion-item
      class="no-padding"
      button
      detail="false"
      lines="none">
      <ion-card-content
        class="full-width">
        <div class="flex-c-row">
          <!-- image -->
          <div class="dv-icon">
            <img
              *ngIf="nt.type == NOTIFICATION_MATCH_BUYER || nt.type == NOTIFICATION_MATCH_SELLER"
              src="../../../assets/imgs/tab_matches_selected.png">
            <ion-icon
              *ngIf="nt.type == NOTIFICATION_EXPIRE"
              name="md-time">
            </ion-icon>
          </div>

          <!-- message -->
          <span
            class="sp-msg"
          >{{getNotificationDesc(nt)}}</span>

          <!-- time -->
          <span
            class="sp-time"
          >{{getTimeFormatted(nt)}}</span>
        </div>
      </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
