<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>SELLER PROFILE</ion-title>

    <!-- edit -->
    <ion-buttons slot="end">
      <ion-button
        [routerLink]="['/share']"
        color="light">
        <ion-icon
          slot="icon-only"
          name="md-open">
        </ion-icon>
      </ion-button>
      <ion-button
        (click)="onButEdit();">
        <img
          src="../../../../assets/imgs/profile_edit.png"
          slot="icon-only" />
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-column">
    <!-- user info -->
    <div
      class="dv-user flex-c-row">

      <!-- background image -->
      <div class="dv-bg">
      </div>
      <img
        class="img-shadow"
        src="../../../../assets/imgs/profile_shadow_bg.png">

      <!-- info -->
      <div class="flex-column dv-info nm-center-items">
        <!-- photo -->
        <ion-avatar>
          <img src="../../../../assets/imgs/default_user.png">
        </ion-avatar>

        <!-- name -->
        <span
          class="sp-name"
        >{{data.name}}</span>

        <!-- email -->
        <div class="flex-c-row dv-email">
          <ion-icon name="mail"></ion-icon>
          <span>{{data.email}}</span>
        </div>

        <!-- phone -->
        <div class="flex-c-row">
          <ion-icon name="call"></ion-icon>
          <span>{{data.getPhone()}}</span>
        </div>

        <!-- price -->
        <div class="flex-c-row"
             [hidden]="!data.property">
          <ion-icon name="cash"></ion-icon>
          <span>${{data.property?.priceStr()}}</span>
        </div>

        <!-- location -->
        <div class="flex-column dv-location nm-center-items">
          <div class="flex-c-row">
            <ion-icon name="pin"></ion-icon>
            <span>Location</span>
          </div>
          <span>{{data.property?.address}}</span>
        </div>
      </div>

    </div>

    <!-- property info -->
    <div
      class="dv-property flex-column"
      padding
      *ngIf="data.property">
      <!-- description -->
      <div class="dv-desc-with-title">
        <span
          class="sp-title"
        >Property Description</span>
        <div
          class="dv-no-list-item-small flex-c-row"
          *ngIf="!data.property.desc; else desc">
          <span>No property description</span>
        </div>
        <ng-template #desc>
          <p>{{data.property.desc}}</p>
        </ng-template>
      </div>

      <!-- favourite buyers -->
      <ion-button
        class="mt-10"
        fill="clear"
        [routerLink]="['/favourites/buyers', data.id]">
        <ion-icon slot="start" name="heart"></ion-icon>
        Show favourite buyers
      </ion-button>

      <!-- separator -->
      <div class="dv-separator mt-6"></div>

      <!-- style -->
      <div class="dv-item">
        <span>Style</span>
        <span>{{data.property?.getStyleStr()}}</span>
      </div>

      <!-- type -->
      <div class="dv-item">
        <span>Type</span>
        <span>{{data.property?.getTypeStr()}}</span>
      </div>

      <!-- size -->
      <div class="dv-item">
        <span>House Size</span>
        <span
          *ngIf="data.property?.size"
        >{{data.property?.size}} Sq.ft</span>
      </div>

      <!-- bedrooms -->
      <div class="dv-item">
        <span>Number of Bedrooms</span>
        <span>{{data.property?.bedroom}}</span>
      </div>

      <!-- bathrooms -->
      <div class="dv-item">
        <span>Number of Bathrooms</span>
        <span>{{data.property?.bathroom}}</span>
      </div>

      <!-- garage -->
      <div class="dv-item">
        <span>Garage Type</span>
        <span>{{data.property?.garage}}</span>
      </div>

      <!-- basement -->
      <div class="dv-item">
        <span>Basement</span>
        <span>{{data.property?.basement}}</span>
      </div>

      <!-- lot -->
      <div class="dv-item">
        <span>Lot Size</span>
        <span
          *ngIf="data.property?.lotDepth"
        >{{data.property?.lotDepth}} Sq.ft</span>
      </div>

      <!-- frontage -->
      <div class="dv-item">
        <span>Lot Frontage</span>
        <span
          *ngIf="data.property?.lotFrontage"
        >{{data.property?.lotFrontage}} Sq.ft</span>
      </div>

      <!-- status -->
      <div class="dv-item">
        <span>Construction Status</span>
        <span>{{data.property?.getStatusStr()}}</span>
      </div>

      <!-- property images -->
      <div class="dv-photos flex-column">
        <!-- title -->
        <span>Property Photos</span>

        <div
          class="dv-img-container flex-row">
          <div
            class="dv-photo"
            *ngFor="let img of data.property.imageUrls">
            <div class="dv-img" (click)="onClickPhoto(img)">
              <img [src]="img" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>

<ion-footer>
  <ion-button
    class="m-0 with-shadow"
    expand="block"
    square
    (click)="onAddNote()"
  >Add Notes</ion-button>
</ion-footer>
