<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>SELLER PROFILE</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-column">
    <!-- user info -->
    <div
      class="dv-user flex-c-row">

      <!-- background image -->
      <div class="dv-bg">
      </div>
      <img
        class="img-shadow"
        src="../../../../assets/imgs/profile_shadow_bg.png">

      <!-- info -->
      <div class="flex-column dv-info nm-center-items">
        <!-- photo -->
        <ion-avatar>
          <img src="../../../../assets/imgs/default_user.png">
        </ion-avatar>

        <!-- name -->
        <span
          class="sp-name"
        >{{data.name}}</span>

        <!-- email -->
        <div class="flex-c-row dv-email">
          <ion-icon name="mail"></ion-icon>
          <span>{{data.email}}</span>
        </div>

        <!-- phone -->
        <div class="flex-c-row">
          <ion-icon name="call"></ion-icon>
          <span>{{data.phone}}</span>
        </div>

        <!-- price -->
        <div class="flex-c-row"
             [hidden]="!property">
          <ion-icon name="cash"></ion-icon>
          <span>${{property?.price}}</span>
        </div>

        <!-- location -->
        <div class="flex-column dv-location nm-center-items">
          <div class="flex-c-row">
            <ion-icon name="pin"></ion-icon>
            <span>Location</span>
          </div>
          <span>{{property?.address}}</span>
        </div>
      </div>

    </div>

    <!-- property info -->
    <div
      class="dv-property flex-column"
      padding
      *ngIf="property">
      <!-- description -->
      <div class="dv-desc-with-title">
        <span
          class="sp-title"
        >Property Description</span>
        <div
          class="dv-no-list-item-small flex-c-row"
          *ngIf="!property.desc; else desc">
          <span>No description of needs</span>
        </div>
        <ng-template #desc>
          <p>{{property.desc}}</p>
        </ng-template>
      </div>

      <!-- favourite buyers -->
      <ion-button
        class="mt-10"
        fill="clear"
        [routerLink]="['/favourites/buyers']">
        <ion-icon slot="start" name="heart"></ion-icon>
        Show favorite buyers
      </ion-button>

      <!-- separator -->
      <div class="dv-separator mt-6"></div>

      <!-- style -->
      <div class="dv-item">
        <span>Style</span>
        <span>{{property.getStyleStr()}}</span>
      </div>

      <!-- type -->
      <div class="dv-item">
        <span>Type</span>
        <span>{{property.getTypeStr()}}</span>
      </div>

      <!-- size -->
      <div class="dv-item">
        <span>House Size</span>
        <span>{{property.size}} Sq.ft</span>
      </div>

      <!-- bedrooms -->
      <div class="dv-item">
        <span>Number of Bedrooms</span>
        <span>{{property.bedroom}}</span>
      </div>

      <!-- bathrooms -->
      <div class="dv-item">
        <span>Number of Bathrooms</span>
        <span>{{property.bathroom}}</span>
      </div>

      <!-- garage -->
      <div class="dv-item">
        <span>Garage Type</span>
        <span>{{property.garage}}</span>
      </div>

      <!-- basement -->
      <div class="dv-item">
        <span>Basement</span>
        <span>{{property.basement}}</span>
      </div>

      <!-- lot -->
      <div class="dv-item">
        <span>Lot Size</span>
        <span>{{property.lotDepth}} Sq.ft</span>
      </div>

      <!-- frontage -->
      <div class="dv-item">
        <span>Lot Frontage</span>
        <span>{{property.lotFrontage}}</span>
      </div>

      <!-- status -->
      <div class="dv-item">
        <span>Construction Status</span>
        <span>{{property.status}}</span>
      </div>
    </div>
  </div>


</ion-content>

<ion-footer>
  <ion-button
    class="m-0 with-shadow"
    expand="block"
    square
    (click)="onAddNote()"
  >Add Notes</ion-button>
</ion-footer>
