ion-toolbar {
  ion-buttons[slot="end"] {
    ion-icon {
      font-size: 16pt;
    }
  }
}

ion-slides {
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  //
  // slider bullets
  //

  // color
  /deep/ .swiper-pagination-bullet {
    background: var(--ion-color-primary-contrast) !important;
  }
}

.dv-title {
  justify-content: space-between;
}

.sp-title {
  font-size: 11pt;
  margin-right: 14px;
  flex: 1;
}
.sp-date {
  font-size: 8pt;
  color: var(--color-gray-dark);
}
.sp-price {
  color: var(--ion-color-secondary);
  margin-top: 10px;
}
.sp-address {
  font-size: 8pt;
}
.sp-desc {
  margin-top: 18px;
}

.dv-item {
  margin-top: 10px;
  font-weight: 600;
  font-size: 11pt;

  display: flex;
  justify-content: space-between;

  span:first-child {
    color: var(--color-gray-dark);
  }
}
