<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>PROPERTY DETAILS</ion-title>

    <!-- settings -->
    <ion-buttons slot="end">
      <ion-button
        [routerLink]="['/share']"
        color="light">
        <ion-icon
          slot="icon-only"
          name="md-open">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="flex-column">
    <div class="dv-slide">
      <ion-slides
        pager
        #slides>
        <ion-slide>
          <img
            [src]="data.photoUrl"
            class="img-logo" />
        </ion-slide>
      </ion-slides>
    </div>

    <!-- favourite button -->
    <div class="dv-favourite">
      <ion-button
        color="danger"
        fill="clear"
        size="small"
        (click)="onButFavourite()">
        <ion-icon
          slot="icon-only"
          name="heart">
        </ion-icon>
      </ion-button>
    </div>

    <div
      class="flex-column"
      padding>
      <div class="flex-row dv-title">
        <!-- title -->
        <span
          class="sp-title"
        >{{data.title}}</span>

        <!-- date -->
        <span
          class="sp-date"
        >{{data.createdAtStr()}}</span>
      </div>

      <!-- price -->
      <span
        class="sp-price"
      >${{data.price}}</span>

      <!-- address -->
      <span class="sp-address"
      >{{data.address}}</span>

      <!-- description -->
      <span
        class="sp-desc"
      >{{data.desc}}</span>

      <!-- separator -->
      <div class="dv-separator mt-14"></div>

      <!-- style -->
      <div class="dv-item">
        <span>Style</span>
        <span>{{data.getStyleStr()}}</span>
      </div>

      <!-- type -->
      <div class="dv-item">
        <span>Type</span>
        <span>{{data.getTypeStr()}}</span>
      </div>

      <!-- size -->
      <div class="dv-item">
        <span>House Size</span>
        <span>{{data.size}} Sq.ft</span>
      </div>

      <!-- bedrooms -->
      <div class="dv-item">
        <span>Number of Bedrooms</span>
        <span>{{data.bedroom}}</span>
      </div>

      <!-- bathrooms -->
      <div class="dv-item">
        <span>Number of Bathrooms</span>
        <span>{{data.bathroom}}</span>
      </div>

      <!-- garage -->
      <div class="dv-item">
        <span>Garage Type</span>
        <span>{{data.garage}}</span>
      </div>

      <!-- basement -->
      <div class="dv-item">
        <span>Basement</span>
        <span>{{data.basement}}</span>
      </div>

      <!-- lot -->
      <div class="dv-item">
        <span>Lot Size</span>
        <span>{{data.lotDepth}} Sq.ft</span>
      </div>

      <!-- frontage -->
      <div class="dv-item">
        <span>Lot Frontage</span>
        <span>{{data.lotFrontage}}</span>
      </div>

      <!-- status -->
      <div class="dv-item">
        <span>Construction Status</span>
        <span>{{data.status}}</span>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer
  *ngIf="data.agentId">
  <ion-button
    [routerLink]="['/profile/' + data.agentId]"
    class="m-0 with-shadow"
    expand="block"
    square
  >Contact Agent</ion-button>
</ion-footer>
