<input type="file"
       accept="image/*;capture=camera"
       (change)="onFileSelected($event)"
       #file />

<div
  class="nm-center dv-photo"
  (click)="file.click()">

  <div class="dv-content flex-column">
    <div *ngIf="!(picture || imgUrl); else imageDiv">
      <ion-icon
        class="nm-center"
        name="add"></ion-icon>
    </div>

    <ng-template #imageDiv>
      <img *ngIf="picture; else default"
           class="content"
           [src]="picture" />

      <!-- show default image only if content is empty -->
      <ng-template #default>
        <img
          class="photo"
          *ngIf="imgUrl"
          [src]="imgUrl" />
      </ng-template>
    </ng-template>
  </div>

  <!-- more button -->
  <ion-icon
    class="ic-close"
    slot="icon-only"
    name="close-circle"
    *ngIf="(picture || imgUrl)"
    (click)="onRemove($event)">
  </ion-icon>

</div>
