<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <!-- input -->
    <div class="flex-column half-full">
      <!-- old password -->
      <div class="flex-column input-wrapper">
        <ion-input
          placeholder="Enter current password"
          type="password"
          [(ngModel)]="passwordCurrent"
        ></ion-input>
      </div>

      <div class="flex-column input-wrapper">
        <ion-input
          placeholder="Enter new password"
          type="password"
          [(ngModel)]="passwordNew"
        ></ion-input>
      </div>

      <!-- reenter password -->
      <div class="flex-column input-wrapper">
        <ion-input
          placeholder="Confirm new password"
          type="password"
          [(ngModel)]="rePassword"
        ></ion-input>
      </div>
    </div>

    <!-- buttons -->
    <div class="half-full">
      <ion-button
        expand="full"
        (click)="onButDone()"
        [disabled]="!isMatchPassword()"
      >Save</ion-button>
    </div>

  </div>

</ion-content>
