<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ userId ? 'AGENT ' : 'MY '}}PROFILE</ion-title>

    <ion-buttons slot="end">

      <!-- report -->
      <ion-button
        color="light"
        *ngIf="userId; else butEdit"
        (click)="onButReport();">
        <ion-icon
          slot="icon-only"
          name="flag">
        </ion-icon>
      </ion-button>

      <!-- edit -->
      <ng-template #butEdit>
        <ion-button
          (click)="onButEdit();">
          <img
            src="../../../assets/imgs/profile_edit.png"
            slot="icon-only" />
        </ion-button>
      </ng-template>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- agent info -->
    <div
      class="dv-agent flex-c-row">

      <!-- background image -->
      <div class="dv-bg">
      </div>
      <img
        class="img-shadow"
        src="../../../assets/imgs/profile_shadow_bg.png">

      <!-- info -->
      <div class="flex-column dv-info nm-center-items">
        <!-- photo -->
        <ion-thumbnail>
          <img
            class="img-user"
            [src]="user?.photoUrl ? user?.photoUrl : '../../../assets/imgs/default_user.png'">
        </ion-thumbnail>

        <!-- name -->
        <div
          class="flex-c-row dv-name"
          (click)="onButChat()">
          <span
            class="sp-name"
          >{{user ? user.name : '&nbsp;'}}</span>
          <!-- show chat icon for other user -->
          <ion-icon
            *ngIf="user && userId"
            name="chatbubbles">
          </ion-icon>
        </div>

        <!-- email -->
        <div
          class="flex-c-row dv-email"
          (click)="onButEmail(user?.email)">
          <ion-icon
            name="mail"
            *ngIf="user">
          </ion-icon>
          <span>{{user ? user.email : '&nbsp;'}}</span>
        </div>

        <!-- phone -->
        <div
          class="flex-c-row dv-phone"
          (click)="onButPhone(user?.phone)"
          *ngIf="user">
          <ion-icon name="call"></ion-icon>
          <span>{{user ? user.getPhone() : '&nbsp;'}}</span>
        </div>
      </div>

    </div>

    <!-- brokerage info -->
    <div class="dv-brokerage flex-c-row nm-center-items">
      <!-- info -->
      <div class="flex-column dv-info nm-center-items">
        <!-- title -->
        <span
          class="sp-name"
        >{{user ? user.nameBkg : '&nbsp;'}}</span>

        <!-- address -->
        <div
          class="flex-c-row dv-address"
          *ngIf="user">
          <ion-icon name="pin"></ion-icon>
          <span>{{user ? user.addressBkg : '&nbsp;'}}</span>
        </div>

        <!-- phone -->
        <div
          class="flex-c-row dv-phone"
          (click)="onButPhone(user?.phoneBkg)"
          *ngIf="user">
          <ion-icon name="call"></ion-icon>
          <span>{{user ? user.getPhoneBkg() : '&nbsp;'}}</span>
        </div>
      </div>
    </div>

    <!-- client profile button -->
    <ion-button
      *ngIf="!userId"
      [routerLink]="['/profile-client']"
      class="m-0 with-shadow"
      expand="block"
      square
    >Client Profiles</ion-button>
  </div>

</ion-content>
