.half-full {
  padding-left: 30px;
  padding-right: 30px;
}

.input-wrapper {
  ion-input {
    font-size: 10pt;
    border-bottom: 1px solid #ccc;
    margin-bottom: 14px;
  }

  app-check-box {
    &:not(:first-child) {
      margin-top: 4px;
    }
  }
}
