<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>MATCHED BUYERS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- client info -->
  <div
    class="flex-row dv-header nm-center-items">
    <div class="flex-column">
      <ion-label
        class="lb-name"
      >{{seller.name}}</ion-label>
      <ion-label>{{seller.address}}</ion-label>
    </div>
  </div>

  <div class="flex-column">
    <!-- count -->
    <span
      class="sp-title nm-center"
    >{{seller.matchedBuyers.length}} Matched Buyers</span>

    <!-- property item -->
    <ion-card
      class="ca-buyer"
      *ngFor="let data of seller.matchedBuyers; let i = index">
      <ion-item
        class="no-padding"
        button
        detail="false"
        (click)="onItemDetail(data)">
        <ion-card-content
          class="full-width">
          <div class="flex-column">
            <!-- index -->
            <div class="flex-row dv-index">
              <img src="../../../../assets/imgs/ic_match_gray.png">
              <span>Match {{i+1}}</span>
            </div>

            <div class="flex-column dv-info">
              <!-- username -->
              <span
                class="sp-name"
              >{{data.name}}</span>

              <!-- address -->
              <span
                class="sp-address"
              >{{data.address}}</span>

              <!-- distance -->
              <span
                class="sp-distance"
                hidden
              >0.3 miles away</span>
            </div>
          </div>

          <!-- more button -->
          <ion-button
            class="bt-more"
            fill="clear"
            hidden
            (click)="onButMore($event)">
            <ion-icon
              slot="icon-only"
              name="ios-more">
            </ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-item>
    </ion-card>

  </div>

</ion-content>
