<ion-header>
  <ion-toolbar
    color="primary">
    <ion-title>MATCHES</ion-title>
  </ion-toolbar>

  <!-- segments -->
  <div class="flex-row dv-segment">
    <ion-button
      [fill]="currentPage == PAGE_BUYER ? 'solid' : 'outline'"
      square
      no-border
      color="secondary"
      (click)="onPageChanged(PAGE_BUYER)">
      My Buyers
    </ion-button>
    <ion-button
      [fill]="currentPage == PAGE_SELLER ? 'solid' : 'outline'"
      square
      no-border
      color="secondary"
      (click)="onPageChanged(PAGE_SELLER)">
      My Sellers
    </ion-button>
  </div>
</ion-header>

<ion-content>

  <ion-searchbar
    mode="ios"
    placeholder="Search client name or property address..."
    *ngIf="currentPage == PAGE_BUYER"
    [(ngModel)]="keywordBuyer"
    (ionChange)="onSearch()"
  ></ion-searchbar>
  <ion-searchbar
    mode="ios"
    placeholder="Search client name"
    *ngIf="currentPage == PAGE_SELLER"
    [(ngModel)]="keywordSeller"
    (ionChange)="onSearch()"
  ></ion-searchbar>

  <!-- pull to refresh -->
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- showLoading -->
  <ion-spinner
    class="spn-loading"
    *ngIf="showLoading">
  </ion-spinner>

  <ion-list
    *ngIf="currentPage == PAGE_BUYER">

    <div
      class="dv-no-list-item flex-c-row"
      *ngIf="getNotice(PAGE_BUYER)">
      <span>{{getNotice(PAGE_BUYER)}}</span>
    </div>

    <ion-item
      *ngFor="let item of getMatchedBuyers()"
      lines="none">
      <div
        class="flex-row"
        (click)="onItemBuyer(item)">
        <div class="dv-buyer flex-column nm-center">
          <ion-thumbnail
            class="round">
            <ion-img [src]="item.photoUrl ? item.photoUrl : '../../../../assets/imgs/default_user.png'">
            </ion-img>
          </ion-thumbnail>

          <!-- name -->
          <span
            class="sp-username"
          >{{item.name}}</span>

          <!-- address -->
          <span
            class="sp-address"
          >{{item.address}}</span>
        </div>

        <div
          class="dv-match-mark round flex-c-row">
          <div
            class="round container">
            <img
              class="nm-center"
              src="../../../../assets/imgs/tab_matches_selected.png">
          </div>
        </div>

        <div class="dv-match flex-column nm-center">
          <!-- number -->
          <span
            class="sp-number"
          >{{item.matchedProperties?.length}}</span>

          <!-- label -->
          <span
            class="sp-label"
          >Matched Properties</span>
        </div>
      </div>
    </ion-item>

  </ion-list>

  <ion-list
    *ngIf="currentPage == PAGE_SELLER">

    <div
      class="dv-no-list-item flex-c-row"
      *ngIf="getNotice(PAGE_SELLER)">
      <span>{{getNotice(PAGE_SELLER)}}</span>
    </div>

    <ion-item
      *ngFor="let item of getMatchedSellers()"
      lines="none">
      <div
        class="flex-row"
        (click)="onItemSeller(item)">

        <div class="dv-buyer flex-column nm-center">
          <ion-thumbnail
            class="round">
            <ion-img [src]="item.photoUrl ? item.photoUrl : '../../../../assets/imgs/default_user.png'">
            </ion-img>
          </ion-thumbnail>

          <!-- name -->
          <span
            class="sp-username"
          >{{item.name}}</span>

          <!-- address -->
          <span
            class="sp-address"
          >{{item.address}}</span>
        </div>

        <div
          class="dv-match-mark round flex-c-row">
          <div
            class="round container">
            <img
              class="nm-center"
              src="../../../../assets/imgs/tab_matches_selected.png">
          </div>
        </div>

        <div class="dv-match flex-column nm-center">
          <!-- number -->
          <span
            class="sp-number"
          >{{item.matchedBuyers?.length}}</span>

          <!-- label -->
          <span
            class="sp-label"
          >Matched Buyers</span>
        </div>
      </div>
    </ion-item>

  </ion-list>


</ion-content>
