<ion-header>
  <ion-toolbar
    color="primary">
    <ion-title>MATCHES</ion-title>
  </ion-toolbar>

  <!-- segments -->
  <div class="flex-row dv-segment">
    <ion-button
      [fill]="currentPage == PAGE_BUYER ? 'solid' : 'outline'"
      square
      no-border
      color="secondary"
      (click)="onPageChanged(PAGE_BUYER)">
      My Buyers
    </ion-button>
    <ion-button
      [fill]="currentPage == PAGE_SELLER ? 'solid' : 'outline'"
      square
      no-border
      color="secondary"
      (click)="onPageChanged(PAGE_SELLER)">
      My Sellers
    </ion-button>
  </div>
</ion-header>

<ion-content>

  <ion-list
    *ngIf="currentPage == PAGE_BUYER">
    <ion-searchbar
      mode="ios"
      placeholder="Search client name or property address..."
    ></ion-searchbar>

    <ion-item
      *ngFor="let i of [1,2,3,4,5,6]"
      lines="none">
      <div
        class="flex-row"
        [routerLink]="['/match-buyer']">
        <div class="dv-buyer flex-column nm-center">
          <ion-thumbnail
            class="round">
            <img src="../../../../assets/imgs/default_img.png">
          </ion-thumbnail>

          <!-- address -->
          <span
            class="sp-address-buyer"
          >1263 Derek Drive Akron, Canada</span>
        </div>

        <div
          class="dv-match-mark round flex-c-row">
          <div
            class="round container">
            <img
              class="nm-center"
              src="../../../../assets/imgs/tab_matches_selected.png">
          </div>
        </div>

        <div class="dv-match flex-column nm-center">
          <!-- number -->
          <span
            class="sp-number"
          >9</span>

          <!-- label -->
          <span
            class="sp-label"
          >Matched Buyers</span>
        </div>
      </div>
    </ion-item>

  </ion-list>

  <ion-list
    *ngIf="currentPage == PAGE_SELLER">
    <ion-searchbar
      mode="ios"
      placeholder="Search client name"
    ></ion-searchbar>

    <ion-item
      *ngFor="let i of [1,2,3,4,5,6]"
      lines="none">
      <div
        class="flex-row"
        [routerLink]="['/match-property']">
        <div class="dv-buyer flex-column nm-center">
          <ion-thumbnail
            class="round">
            <img src="../../../../assets/imgs/default_user.png">
          </ion-thumbnail>
          <!-- name -->
          <span
            class="sp-username"
          >Andrew Smith</span>

          <!-- address -->
          <span
            class="sp-address"
          >Holly Street Rome, Canada</span>
        </div>

        <div
          class="dv-match-mark round flex-c-row">
          <div
            class="round container">
            <img
              class="nm-center"
              src="../../../../assets/imgs/tab_matches_selected.png">
          </div>
        </div>

        <div class="dv-match flex-column nm-center">
          <!-- number -->
          <span
            class="sp-number"
          >9</span>

          <!-- label -->
          <span
            class="sp-label"
          >Matched Properties</span>
        </div>
      </div>
    </ion-item>

  </ion-list>


</ion-content>
