<ion-header>
  <ion-toolbar
    color="primary">
    <ion-title>FAVORITES</ion-title>
  </ion-toolbar>

  <!-- segments -->
  <div class="flex-row dv-segment">
    <ion-button
      [fill]="currentPage == PAGE_BUYER ? 'solid' : 'outline'"
      square
      no-border
      color="secondary"
      (click)="onPageChanged(PAGE_BUYER)">
      Buyer’s Favorites
    </ion-button>
    <ion-button
      [fill]="currentPage == PAGE_SELLER ? 'solid' : 'outline'"
      square
      no-border
      color="secondary"
      (click)="onPageChanged(PAGE_SELLER)">
      Seller’s Favorites
    </ion-button>
  </div>
</ion-header>

<ion-content>

  <ion-list
    *ngIf="currentPage == PAGE_BUYER">
    <ion-item
      button
      detail="false"
      *ngFor="let i of [1,2,3,4,5,6]"
      [routerLink]="['/favourites/properties']">
      <div class="flex-row full-width">
        <!-- photo -->
        <ion-thumbnail
          class="round">
          <img src="../../../assets/imgs/default_user.png">
        </ion-thumbnail>

        <!-- info -->
        <div class="flex-column dv-info">
          <!-- name -->
          <span
            class="sp-name"
          >Andrew Smith</span>
          <span
            class="sp-address"
          >2896 Holly Street Rome, Canada</span>
        </div>

        <!-- distance -->
        <span
          class="sp-distance"
        >0.2 km away</span>
      </div>
    </ion-item>
 </ion-list>

  <ion-list
    *ngIf="currentPage == PAGE_SELLER">
    <ion-item
      button
      detail="false"
      [routerLink]="['/favourites/buyers']"
      *ngFor="let i of [1,2,3,4,5,6]">
      <div class="flex-row full-width">
        <!-- photo -->
        <ion-thumbnail
          class="round">
          <img src="../../../assets/imgs/default_user.png">
        </ion-thumbnail>

        <!-- info -->
        <div class="flex-column dv-info">
          <!-- name -->
          <span
            class="sp-name"
          >Andrew Smith</span>
          <span
            class="sp-address"
          >2896 Holly Street Rome, Canada</span>
        </div>

        <!-- distance -->
        <span
          class="sp-distance"
        >0.2 km away</span>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
