<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <div class="dv-icon"></div>
    </ion-tab-button>

    <ion-tab-button tab="matches">
      <div class="dv-icon"></div>
    </ion-tab-button>

    <ion-tab-button tab="favourites">
      <div class="dv-icon"></div>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <div class="dv-icon"></div>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <div class="dv-icon"></div>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
