<ion-tabs
  (ionTabsWillChange)="onTabWillChange($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <div class="dv-icon"></div>
    </ion-tab-button>

    <ion-tab-button
      class="tab-match"
      (click)="onButTab(tabMatch)"
      [selected]="tab.currentTab == tabMatch">
      <ion-badge
        color="danger badge-empty"
      ></ion-badge>
      <div class="dv-icon"></div>
    </ion-tab-button>

    <ion-tab-button
      (click)="onButTab(tabFavourite)"
      [selected]="tab.currentTab == tabFavourite">
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button
      class="tab-chat"
      (click)="onButTab(tabChat)"
      [selected]="tab.currentTab == tabChat">
      <ion-badge
        color="danger"
        *ngIf="unreadMsgCount > 0"
      >{{unreadMsgCount}}</ion-badge>
      <div class="dv-icon"></div>
    </ion-tab-button>

    <ion-tab-button
      class="tab-notification"
      (click)="onButTab(tabNotification)"
      [selected]="tab.currentTab == tabNotification">
      <ion-badge
        color="danger"
      >5</ion-badge>
      <div class="dv-icon"></div>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
