<ion-tabs
  (ionTabsWillChange)="onTabWillChange($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <div class="dv-icon"></div>
    </ion-tab-button>

    <ion-tab-button tab="matches">
      <div class="dv-icon"></div>
    </ion-tab-button>

    <ion-tab-button tab="favourites">
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-badge
        color="danger"
        *ngIf="unreadMsgCount > 0"
      >{{unreadMsgCount}}</ion-badge>
      <div class="dv-icon"></div>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <div class="dv-icon"></div>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
