ion-tab-bar {
  box-shadow: 0 0 10px #bbb;
}

.dv-icon {
  width: 26px;
  height: 26px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

ion-tab-button {
  &:not(:last-child) {
    border-right: 1px #d6d6d6 solid;
  }

  ion-icon {
    font-size: 24pt;
    color: #a6b0c2;
  }

  &[aria-selected=true] {
    ion-icon {
      color: var(--ion-color-primary);
    }
  }
}

ion-tab-button[tab="home"] {
  .dv-icon {
    background-image: url('../../../assets/imgs/tab_home.png');
  }

  &[aria-selected=true] {
    .dv-icon {
      background-image: url('../../../assets/imgs/tab_home_selected.png');
    }
  }
}

ion-tab-button.tab-match {
  .dv-icon {
    background-image: url('../../../assets/imgs/tab_matches.png');
  }

  &[aria-selected=true] {
    .dv-icon {
      background-image: url('../../../assets/imgs/tab_matches_selected.png');
    }
  }
}

ion-tab-button.tab-chat {
  .dv-icon {
    background-image: url('../../../assets/imgs/tab_chat.png');
  }

  &[aria-selected=true] {
    .dv-icon {
      background-image: url('../../../assets/imgs/tab_chat_selected.png');
    }
  }
}

ion-tab-button.tab-notification {
  .dv-icon {
    background-image: url('../../../assets/imgs/tab_notifications.png');
  }

  &[aria-selected=true] {
    .dv-icon {
      background-image: url('../../../assets/imgs/tab_notifications_selected.png');
    }
  }
}
