<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>ADD NOTES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="dv-profile-input">
    <ion-textarea
      placeholder="Add Text here"
      rows="5"
      [(ngModel)]="note"
    ></ion-textarea>
  </div>

</ion-content>

<ion-footer>
  <ion-button
    class="m-0 with-shadow"
    expand="block"
    square
    (click)="onButSave()"
  >Save</ion-button>
</ion-footer>

