<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>ABOUT THE APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- logo area -->
  <div
    class="flex-row dv-header nm-center-items">
    <div class="flex-column">
      <img src="../../../assets/icon/icon.png" />

      <ion-label>R.E.connect</ion-label>
    </div>
  </div>

  <div
    class="dv-info">
    <p>Version 1.0 1</p>
    <p>Exclusive Listing, Duis aute irure dolor in repre hender uptate velit esse cillum dolore eu fugiat nula.</p>
    <p>© Excepteur sint occaecat. <br />All Rights Reserved.</p>
  </div>

</ion-content>
