:root {
  /** black **/
  --ion-color-black: #000;
  --ion-color-black-rgb: 0,0,0;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255, 255, 255;
  --ion-color-black-shade: #1e2023;
  --ion-color-black-tint: #383a3e;
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black) !important;
  --ion-color-base-rgb: var(--ion-color-black-rgb) !important;
  --ion-color-contrast: var(--ion-color-black-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-black-shade) !important;
  --ion-color-tint: var(--ion-color-black-tint) !important;
}
