//
// input
//
.dv-input-with-title {
  ion-label {
    font-weight: bold;
  }

  .dv-profile-input {
    margin-top: 6px;
  }
}
.dv-profile-input {
  background-color: #eee;
  box-shadow: inset 0 0 5px 0 var(--color-gray-dark);

  ion-icon {
    margin-left: 10px;
    font-size: 14pt;
    color: var(--color-gray-text);
  }

  ion-input,
  ion-textarea {
    margin-left: 10px;
  }
}

