.dv-logo {
  flex: 2;

  img {
    width: 100px;
    height: 100px;
  }
}

.dv-input {
  flex: 3;
}

.container {
  > div {
    width: 80%;
    align-self: center;
  }
}

.input-wrapper {
  ion-input {
    color: var(--ion-color-primary-contrast);
    border-bottom: 1px solid var(--ion-color-secondary);
  }
}

.dv-social {
  flex: 1;
  justify-content: space-between;
  padding: 0 18px;

  img {
    width: 60px;
    height: 60px;
  }
}
