<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>SUBSCRIBE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p><b>R.E.connect iOS App <br />
      End User License Addendum<br />
      Last Updated: June 25, 2018</b></p>

    <p>
      This R.E.connect iOS App End User License Addendum (”Mobile
      Addendum”) is between you and R.E.connect, and governs your
      use of R.E.connect’s mobile application for IOS. This mobile
      Addendum is an addendum to R.E.connect’s Terms of Service.
    </p>

    <p>
      Parties. This Mobile Addendum is between you and ER.E.connect
      only and not Apple, Inc. (”Apple”). Exclusive Listing is solely
      responsible for the app and its content. Although Apple is not a
      party to this Mobile Addendum, Apple has the right to enforce this
      Mobile Addendum against you as a third party beneficiary relating
      to your use of the R.E.connect App.
    </p>

    <p>
      Terms of Service. To use the R.E.connect App, you may be required
      to subscribe for the service. In doing so, you must agree
      R.E.connect’s Terms of Service.
    </p>

  </div>

</ion-content>

<ion-footer>
  <div
    class="dv-agree flex-row nm-center-items">
    <!-- checkbox -->
    <ion-item
      lines="none"
      class="it-checkbox">
      <ion-label>I Agree</ion-label>
      <ion-checkbox
        slot="start"
        mode="md"
        name="addressVisible"
      ></ion-checkbox>
    </ion-item>
  </div>

  <ion-button
    class="m-0 with-shadow"
    expand="block"
    square
  >Subscribe</ion-button>
</ion-footer>
