<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>SEND FEEDBACK</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="dv-input-with-title">
    <!-- title -->
    <ion-label>Write a comment</ion-label>

    <div class="dv-profile-input flex-row">
      <ion-textarea
        placeholder="Type here"
        rows="5"
      ></ion-textarea>
    </div>
  </div>

</ion-content>

<ion-footer
  [style.margin-bottom] = "getMarginBottom()">
  <ion-button
    class="m-0 with-shadow"
    expand="block"
    square
    (click)="onButDone()"
  >Done</ion-button>
</ion-footer>
