<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>BUYER PROFILE</ion-title>

    <!-- edit -->
    <ion-buttons slot="end">
      <ion-button
        (click)="onButEdit();">
        <img
          src="../../../../assets/imgs/profile_edit.png"
          slot="icon-only" />
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-column">
    <!-- user info -->
    <div
      class="dv-user flex-c-row">

      <!-- background image -->
      <div class="dv-bg">
      </div>
      <img
        class="img-shadow"
        src="../../../../assets/imgs/profile_shadow_bg.png">

      <!-- info -->
      <div class="flex-column dv-info nm-center-items">
        <!-- photo -->
        <ion-avatar>
          <img [src]="data.photoUrl ? data.photoUrl : '../../../../assets/imgs/default_user.png'">
        </ion-avatar>

        <!-- name -->
        <span
          class="sp-name"
        >{{data.name}}</span>

        <!-- email -->
        <div class="flex-c-row dv-email">
          <ion-icon name="mail"></ion-icon>
          <span>{{data.email}}</span>
        </div>

        <!-- phone -->
        <div class="flex-c-row">
          <ion-icon name="call"></ion-icon>
          <span>{{data.getPhone()}}</span>
        </div>

        <!-- price -->
        <div class="flex-c-row">
          <ion-icon name="cash"></ion-icon>
          <span>${{data.priceMin}}</span>
        </div>
      </div>

    </div>

    <!-- property info -->
    <div class="dv-property flex-column" padding>
      <!-- description -->
      <div class="dv-desc-with-title">
        <span
          class="sp-title"
        >Buyers wants and needs</span>
        <div
          class="dv-no-list-item-small flex-c-row"
          *ngIf="!data.desc; else desc">
          <span>No description of needs</span>
        </div>
        <ng-template #desc>
          <p>{{data.desc}}</p>
        </ng-template>
      </div>

      <!-- location -->
      <div class="dv-desc-with-title mt-14">
        <span
          class="sp-title"
        >Desired Location</span>
        <p>{{data.address}}</p>
      </div>

      <!-- favourite properties -->
      <ion-button
        class="mt-10"
        fill="clear"
        [routerLink]="['/favourites/properties', data.id]">
        <ion-icon slot="start" name="heart"></ion-icon>
        Show favorite properties
      </ion-button>

      <!-- separator -->
      <div class="dv-separator mt-6"></div>

      <!-- style -->
      <div class="dv-item">
        <span>Style</span>
        <span>{{data.propRequest?.getStyleStr()}}</span>
      </div>

      <!-- type -->
      <div class="dv-item">
        <span>Type</span>
        <span>{{data.propRequest?.getTypeStr()}}</span>
      </div>

      <!-- size -->
      <div class="dv-item">
        <span>House Size</span>
        <span
          *ngIf="data.sizeMin || data.sizeMax"
        >{{data.sizeMin}} ~ {{data.sizeMax}} Sq.ft</span>
      </div>

      <!-- bedrooms -->
      <div class="dv-item">
        <span>Number of Bedrooms</span>
        <span>{{data.propRequest?.bedroom}}</span>
      </div>

      <!-- bathrooms -->
      <div class="dv-item">
        <span>Number of Bathrooms</span>
        <span>{{data.propRequest?.bathroom}}</span>
      </div>

      <!-- garage -->
      <div class="dv-item">
        <span>Garage Type</span>
        <span>{{data.propRequest?.getGarageStr()}}</span>
      </div>

      <!-- basement -->
      <div class="dv-item">
        <span>Basement</span>
        <span>{{data.propRequest?.getBasementStr()}}</span>
      </div>

      <!-- lot -->
      <div class="dv-item">
        <span>Lot Size</span>
        <span
          *ngIf="data.propRequest?.lotDepth"
        >{{data.propRequest?.lotDepth}} Sq.ft</span>
      </div>

      <!-- frontage -->
      <div class="dv-item">
        <span>Lot Frontage</span>
        <span>{{data.propRequest?.lotFrontage}}</span>
      </div>

      <!-- status -->
      <div class="dv-item">
        <span>Construction Status</span>
        <span>{{data.propRequest?.getStatusStr()}}</span>
      </div>
    </div>
  </div>


</ion-content>

<ion-footer>
  <!-- client profile button -->
  <ion-button
    class="m-0 with-shadow"
    expand="block"
    square
    (click)="onAddNote()"
  >Add Notes</ion-button>
</ion-footer>
