<ion-header>
  <ion-toolbar
    color="primary">
    <!-- user photo -->
    <ion-buttons slot="start">
      <a [routerLink]="['/profile']">
        <img
          class="img-user"
          [src]="auth.user.photoUrl ? auth.user.photoUrl : '../../../assets/imgs/default_user.png'" />
      </a>
    </ion-buttons>

    <ion-title>R.E.CONNECT</ion-title>

    <!-- settings -->
    <ion-buttons slot="end">
      <ion-button
        color="light"
        [routerLink]="['/settings']">
        <ion-icon
          slot="icon-only"
          name="settings">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- search -->
  <ion-toolbar
    class="tb-search"
    color="primary">
    <ion-button
      [routerLink]="['/filter-search']"
      expand="block"
      shape="round"
      color="light">
      Refine Search
    </ion-button>
  </ion-toolbar>

  <!-- profile buttons -->
  <div class="flex-row dv-segment">
    <ion-button
      fill="clear"
      color="secondary"
      [routerLink]="['/profile-client']">
      My Clients Profiles
    </ion-button>
    <ion-button
      fill="clear"
      color="secondary"
      (click)="onButAddProfile()">
      <ion-icon slot="start" name="add"></ion-icon>
      Add Profile
    </ion-button>
  </div>

</ion-header>

<ion-content>
  <!-- pull to refresh -->
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- showLoading -->
  <ion-spinner
    class="spn-loading"
    *ngIf="showLoading">
  </ion-spinner>
  <div
    class="dv-no-list-item flex-c-row"
    *ngIf="!showLoading && (properties?.length == 0 || !properties)">
    <span>No properties available yet</span>
  </div>

  <ion-list>
    <ion-item
      button
      detail="false"
      *ngFor="let item of properties; let i = index"
      (click)="onPropertyItem(item)">

      <div class="flex-row width-100">
        <!-- image -->
        <ion-thumbnail>
          <ion-img [src]="getPropertyImage(item)"></ion-img>
        </ion-thumbnail>

        <div class="flex-column dv-info">
          <!-- title -->
          <span
            class="sp-title"
          >{{item.title}}</span>

          <!-- price -->
          <span
            class="sp-price"
          >${{item.priceStr()}}</span>

          <!-- address -->
          <span
            class="sp-address"
            *ngIf="item.showAddress"
          >{{item.address}}</span>

          <!-- distance -->
          <span
            class="sp-distance"
            *ngIf="item.distanceToMile() > 0"
          >{{item.distanceToMile()}} miles away</span>
        </div>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
