<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>FORGOT PASSWORD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="container">
    <!-- input -->
    <div class="flex-column half-full">
      <!-- password -->
      <div class="flex-column input-wrapper">
        <ion-input
          placeholder="Enter your email"
          type="email"
          [(ngModel)]="email"
          (ionChange)="onChangeEmail()"
        ></ion-input>

        <!-- checkboxes -->
        <div class="flex-column">
          <app-check-box
            text="Registered email"
            [enabled]="isExisting">
          </app-check-box>
        </div>
      </div>
    </div>

    <!-- buttons -->
    <div class="half-full">
      <ion-button
        expand="full"
        (click)="onButSubmit($event)"
        [disabled]="!isExisting"
      >Submit</ion-button>
    </div>

  </div>

</ion-content>
