.container {
  justify-content: space-between;
}

.dv-notice {
  position: relative;

  height: 290px;
  margin: 14px;

  .dv-frame {
    border-width: 3px 3px 18px 48px;
    border-style: solid;
    border-image-source: url('../../../assets/imgs/bg_notice_border.png');
    border-image-slice: 10 10 56 144;
    border-image-repeat: round;

    position: absolute;
    width: 100%;
    height: 100%;
  }

  .dv-content {
    padding: 20px 20px 38px 20px;
  }

  .sp-title {
    font-size: 13pt;
    color: var(--ion-color-primary);
    font-weight: bold;
    margin-bottom: 16px;
  }

  .sp-footer {
    margin-top: 16px;
  }
}
