<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>SIGN UP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="container">
    <!-- signup input -->
    <div class="flex-column">
      <div class="flex-column nm-center dv-input">
        <span
          style="margin-top: 40px"
        >Sign In Through</span>

        <!--social buttons-->
        <div class="dv-social">
          <img
            src="../../../../assets/imgs/but_fb.png"
            (click)="onButFacebook()"/>
          <img
            src="../../../../assets/imgs/but_google.png"
            (click)="onButGoogle()"/>

          <ion-button
            (click)="onButApple()"
            class="but-apple round"
            color="dark">
            <ion-icon
              slot="icon-only"
              name="logo-apple">
            </ion-icon>
          </ion-button>
        </div>

        <span
          style="margin: 30px"
        >or</span>
      </div>

      <!-- input email -->
      <div class="half-full flex-column input-wrapper">
        <ion-input
          placeholder="Enter your email"
          type="email"
          [(ngModel)]="email"
          (ionChange)="onChangeEmail()"
        ></ion-input>

        <!-- checkboxes -->
        <div class="flex-column">
          <app-check-box
            text="Valid email"
            [enabled]="isValid()">
          </app-check-box>
          <app-check-box
            text="Not in Use"
            [enabled]="!isExisting">
          </app-check-box>
        </div>
      </div>
    </div>

    <!-- buttons -->
    <div class="flex-column">

      <div class="half-full">
        <ion-button
          expand="full"
          (click)="onButNext($event)"
          [disabled]="!isValid() || isExisting"
        >Next</ion-button>
      </div>

      <!-- sign in -->
      <ion-button
        class="but-signin"
        fill="clear"
        (click)="onButSignin($event)">
        Already have an account? Click here to Sign In
      </ion-button>
    </div>

  </div>

</ion-content>
