@import '../signup';

.container {
  justify-content: space-between;
}

.dv-input {
  width: 70%;

  span {
    font-size: 12pt;
    font-weight: bold;
  }
}

.dv-social {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;

  img {
    width: 60px;
    height: 60px;
  }
}


.but-signin {
  font-size: 10pt;
}
