@import '../signup';

.container {
  justify-content: space-between;
}

.dv-input {
  span {
    font-size: 12pt;
    font-weight: bold;
  }
}

.dv-social {
  display: flex;
  margin-top: 30px;
  ion-img {
    width: 60px;
    height: 60px;

    &:not(:first-child) {
      margin-left: 40px;
    }
  }
}


.but-signin {
  font-size: 10pt;
}
