<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>Favorite Buyers</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- showLoading -->
  <ion-spinner
    class="spn-loading"
    *ngIf="showLoading">
  </ion-spinner>

  <div
    class="dv-no-list-item flex-c-row"
    *ngIf="!showLoading && buyers.length == 0">
    <span>No favorite buyers</span>
  </div>

  <ion-card
    class="ca-seller"
    *ngFor="let data of buyers; let i = index">
    <ion-item
      class="no-padding"
      button
      lines="none"
      detail="false"
      [routerLink]="['/profile', data.agentId]">
      <ion-card-content class="full-width">
        <div class="flex-row">
          <div class="dv-info">
            <div class="flex-column dv-info-content">
              <!-- title -->
              <span
                class="sp-title"
              >{{data.name}}</span>

              <!-- address -->
              <span
                class="sp-address"
              >{{data.address}}</span>

              <!-- distance -->
              <span
                class="sp-distance"
                hidden
              >0.3 miles away</span>
            </div>
          </div>

        </div>

        <!-- delete button -->
        <ion-button
          class="bt-delete"
          fill="clear"
          color="danger"
          (click)="onButDelete(i, $event)">
          <ion-icon
            slot="icon-only"
            name="trash">
          </ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-item>
  </ion-card>

</ion-content>
