<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>{{isEdit ? 'EDIT PROFILE' : 'SIGN UP'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    (ngSubmit)="signinForm()"
    class="width-100 height-100"
    ngNativeValidate
    [style.margin-bottom] = "kbService.keyboardHeight + 'px'">
    <div
      class="container">
      <!-- upload image -->
      <div class="dv-profile-photo flex-column half-full nm-center">
        <app-image-uploader
          [imgUrl]="auth.user?.photoUrl"
          desc="Add profile photo"
          #imageProfile>
          <div class="container flex-c-row nm-center">
            <ion-icon
              class="nm-center"
              name="add"></ion-icon>
          </div>
        </app-image-uploader>
      </div>

      <!-- input data -->
      <div class="dv-data half-full flex-column">
        <div class="input-wrapper flex-column">
          <ion-input
            placeholder="Agent Name"
            [(ngModel)]="name"
            name="name"
            required
          ></ion-input>
          <ion-input
            placeholder="Agent Phone Number"
            type="tel"
            [(ngModel)]="phone"
            name="phone"
            required
          ></ion-input>
          <ion-input
            placeholder="Agent Email Address"
            type="email"
            name="email"
            readonly
            [(ngModel)]="email"
            required
          ></ion-input>
          <ion-input
            placeholder="Brokerage Name"
            name="nameBkg"
            [(ngModel)]="nameBkg"
            required
          ></ion-input>
          <ion-input
            placeholder="Brokerage Phone Number"
            type="tel"
            name="phoneBkg"
            [(ngModel)]="phoneBkg"
            required
          ></ion-input>
          <ion-input
            placeholder="Brokerage Address"
            name="addressBkg"
            [(ngModel)]="addressBkg"
            required
          ></ion-input>
        </div>

        <!-- buttons -->
        <div class="flex-column dv-buttons">
          <ion-button
            expand="full"
            type="submit"
          >{{isEdit ? 'Save' : 'Create Account'}}</ion-button>

          <!-- go back, show in sign up only -->
          <ion-button
            *ngIf="!isEdit"
            class="but-signin"
            fill="clear"
            (click)="onButBack()">
            Go Back
          </ion-button>
        </div>
      </div>

    </div>
  </form>

</ion-content>
