<ion-header>
  <ion-toolbar
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>Searched {{filterClient.type == TYPE_SELLER ? 'Sellers' : 'Buyers'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container
    *ngIf="filterClient.type == TYPE_BUYER">
    <div
      class="dv-no-list-item flex-c-row"
      *ngIf="!showLoading && clients?.length == 0">
      <span>Buyers not found</span>
    </div>

    <ion-list>
      <ion-item
        button
        detail="false"
        *ngFor="let item of clients; let i = index"
        (click)="onItemDetail(item)">
        <div class="flex-row full-width">
          <!-- photo -->
          <ion-thumbnail
            class="round">
            <ion-img [src]="item.photoUrl ? item.photoUrl : '../../../../assets/imgs/default_user.png'"></ion-img>
          </ion-thumbnail>

          <!-- info -->
          <div class="flex-column dv-info">
            <!-- name -->
            <span
              class="sp-name"
            >Buyer Code: {{item.getIdReadable()}}</span>
            <span
              class="sp-address mt-8"
            >Agent: {{item.agent?.name}}</span>
          </div>

          <!-- distance -->
          <span
            class="sp-distance"
            hidden
          >0.2 km away</span>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container
    *ngIf="filterClient.type == TYPE_SELLER">
    <div
      class="dv-no-list-item flex-c-row"
      *ngIf="!showLoading && clients?.length == 0">
      <span>Sellers not found</span>
    </div>

    <ion-list>
      <ion-item
        button
        detail="false"
        *ngFor="let item of clients; let i = index"
        (click)="onItemDetail(item)">

        <div class="flex-row full-width">
          <!-- photo -->
          <ion-thumbnail
            class="round">
            <img src="../../../../assets/imgs/default_user.png">
          </ion-thumbnail>

          <!-- info -->
          <div class="flex-column dv-info">
            <!-- name -->
            <span
              class="sp-name"
            >Seller Code: {{item.getIdReadable()}}</span>
            <span
              class="sp-address mt-4"
              *ngIf="item.property.showAddress"
            >{{item.property.address}}</span>
          </div>

          <!-- distance -->
          <span
            class="sp-distance"
            hidden
          >0.2 km away</span>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>

  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
